.mycard {
    height: 450px;
    border-radius: 50px;
    transition: 0.6s ease;
}

.mycard:hover {
    transform: translateY(-35px);

}

.mycard div button {
    font-weight: bold;
    font-size: 14px;
    box-shadow: 3px 3px 0px rgb(118, 41, 2);
    padding: 0px 7px;
    cursor: pointer;
}

.mycard div img {
    transform: rotate(-20deg);
    transition: 0.6s ease;
}

.mycard div:hover img {
    transform: translateY(-90px);
    /* box-shadow: 5px 5px 15px rgba(0,0,0,0.3); */
    filter: drop-shadow(10px 10px 10px grey);
}

.f-card h5,
h6 {
    color: brown;
}

.f-card {
    transition: 0.6s ease;
}

.mycard:hover .f-card {
    transform: translateY(-20px);
}

/* home.html button par effect */
.btnn {
    transition: 0.4s ease-in-out;
    box-shadow: 5px 5px 0px 3px burlywood;
    display: inline-block;
}

.btnn:hover {
    transform: translateY(4px);
    box-shadow: 3px 3px 0px 2px burlywood;
}
.btnn2 {
    transition: 0.2s ease-in-out;
    border: 2px solid saddlebrown;
    box-shadow: 3px 3px 0px 1px rgb(143, 96, 30);
    display: inline-block;
}

.btnn2:hover {
    transform: translateY(5px);
    border: 2px solid saddlebrown;

    box-shadow: 2px 2px 0px 1px rgb(85, 52, 3);
}

