/* body{
    background-color: red;
} */
 .text-justify{
    text-align: justify;
 }
 #login-form:hover{
    box-shadow: 0px 0px 10px 5px grey;
    transform: translateY(-10px);
 }
 #login-form{
    transition: 0.5s all; 
 }
 #contact{
   background-image: url('../img/cus.jpg');
   background-size: cover;
   background-position: center;
   height: 300px;
 }
 #contact .col-sm-12 {
   background-color: rgba(128, 128, 128, 0.3);
   /* backdrop-filter: blur(15px); */
   display: flex;
   justify-content: center;
   align-items: center;

 }
 .news-card{
   transition: 0.8s ease; 
 }
.news-card:hover{

   transform: translateY(-10px);
}
.zoom-card>div{
    overflow: hidden;
    border-radius: 5px 5px 0 0 ;
}
.zoom-card>div>img{
transition: 0.8s ease;
}
.zoom-card:hover div>img{
   transform: scale(1.2);
}
.sticky-top{
   position: sticky;
   top: 0;
}