/* .smi {
    height: 25px;
    width: 25px;
    font-size: 17px;
    border: 1px solid;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
} */
body {
  /* background-image: url("../images/9.jpg"); */
  background-position: center;
  background-repeat: no-repeat;
}

.text-maroon {
  color: maroon;
}

.border-dotted {
  border-bottom: 2px dotted maroon;
}

.btn-maroon {
  background: maroon;
  color: white;
}

.btn-maroon:hover {
  background: maroon;
  color: white;
}

.bg-maroon {
  background-color: maroon;
}

.border-maroon {
  border-bottom: 2px solid rgb(63, 3, 3);
}

#notice {
  max-height: 300px !important;
  overflow: hidden;
}

.border-dashed {
  border: 2px dashed maroon;
}

.head::after,
head::before {
  position: absolute;
  content: '';
  height: 5px;
  width: 60px;
  background-color: green;
  top: 10;
}

/* .mentor-section {
  background: rgb(235, 239, 241);
} */
.mentor-card {
  max-width: 250px;
  height: 350px;
  margin: 0px auto;
  border: 0px;
  box-shadow: 5px 5px 5px 5px lightgrey;
  transition: 0.2s ease-in-out;
}

.mentor-card:hover {
  /* transform: scale(1.1); */
  box-shadow: 0px 0px 5px 5px rgb(174, 169, 169);
}

.mentor-card .card-body img {
  height: 200px;
  box-shadow: 0px 0px 5px 2px lightgrey;
}

/* .hove {
  box-shadow: 0px 0px 10px 10px solid rgb(173, 8, 8);
  border: none;
} */

.backg {
  background: linear-gradient(rgba(128, 0, 0, 0.8),
      /* maroon color with opacity */
      rgba(128, 0, 0, 0.8)),
    url("../images/9.jpg");
  /* background image */
  background-size: cover;
  /* image stretch */
  background-position: center;
  /* center alignment */
  background-repeat: no-repeat;
  /* no repeat */
  color: white;
  /* text color upar visible */
  padding: 20px;
}

.backg1 {
  background: linear-gradient(rgba(128, 0, 0, 0.5),
      /* maroon color with opacity */
      rgba(128, 0, 0, 0.5)),
    url("../images/9.jpg");
  /* background image */
  background-size: cover;
  /* image stretch */
  background-position: center;
  /* center alignment */
  background-repeat: no-repeat;
  /* no repeat */
  color: white;
  /* text color upar visible */
  padding: 20px;
  background-attachment: fixed;
}

.linkin {
  height: 35px;
  width: 7%;
}

/*
.box{
  width: 100%;
  height: 200px;
  transition: 0.3s ease-in-out;
  overflow: hidden;
  box-sizing: border-box;
}
.box img{
  transition: 0.3s ease-in-out;
  
}
.box:hover img{
  transform: scale(1.1);
}
.box-inner{
  background-color: black;
  display: none;
}
.box-inner:hover{
  display: block;
  background-color: black;
} */
.box {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.box img {
  width: 100%;
  height: 200px;
  transition: transform 0.5s ease, filter 0.5s ease;
}

.box-inner {
  position: absolute;
  top: 80%;
  left: 13%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.4s ease;
}

.box-inner i {
  font-size: 17px;
  margin: 0 5px;
  color: #fff;
}

.box:hover img {
  transform: scale(1.1);
  /* zoom effect */
  filter: brightness(50%);
  /* dark effect */
}

.box:hover .box-inner {
  opacity: 1;
  /* show icons */
}

.enq {
  position: fixed;
  top: 300px;
  left: -35px;
  transform: rotate(90deg);
  animation: blink 1s infinite;
}

@keyframes blink {
  0% {}

  50% {
    background-color: maroon;
  }

  100% {
    background-color: rgb(216, 164, 6);
  }
}

.enq1 {
  position: fixed;
  top: 500px;
  right: -35px;
  transform: rotate(-90deg);
  animation: blink 1s infinite;
}

.stat {
  border: 2px solid maroon;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  box-sizing: border-box;
  padding: 20px;
}

swiper-container {
  width: 100%;
  height: 100%;
}

swiper-slide {
  text-align: center;
  font-size: 14px;
  /* background: #444; */
  display: flex;
  justify-content: center;
  align-items: center;
}

swiper-slide div img {
  display: block;
  width: 150px;
  height: 150px;
  border-radius: 50%;

  object-fit: cover;
}

.quick-link {
  display: flex;
  display: inline;
  list-style: none;
}

.footer-backg {
  background-color: rgb(107, 6, 6);
  justify-content: center;
}

.dot-border {
  border: 10px solid maroon;
  border-radius: 50%;
  padding: 5px 10px;
  margin-top: 7px;
  max-width: 10px;
  max-height: 10px;

}

.about-text {
  text-align: justify;
  font-size: small;
}

.fot-text {
  font-size: 13px;
}

.image-bg {
  background: linear-gradient(rgba(236, 229, 229, 0.5),
      /* maroon color with opacity */
      rgba(240, 237, 237, 0.5)),
    url("../images/banner2.jpg");
  /* background image */
  background-size: cover;
  /* image stretch */
  background-position: center;
  /* center alignment */
  background-repeat: no-repeat;
  /* no repeat */
  color: white;
  /* text color upar visible */
  padding: 20px;
  background-attachment: fixed;
}

.background-apply {
  background-color: aquamarine;
}

.Grievance-box {
  display: flex;
  gap: 2px;
  box-sizing: border-box;
  border-radius: 10px;
  border-top: 4px solid blue !important;
  border: 1px solid grey;
  opacity: 0.7;
}

.Grievance-box2 {
  display: flex;
  gap: 2px;
  box-sizing: border-box;
  border-radius: 10px;
  border-top: 4px solid blue !important;
  border: 1px solid grey;
  opacity: 0.7;
}

.Grievance-para {
  font-size: 13px;
}